body {
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	margin:0;
}

header{
	width:100%;
	height: 200px;
	text-shadow: 3px 3px 2px black;
	text-align: center;
	background:#35424a;
	padding-top:30px;
	color:#ffffff;
	border-bottom:#e8491d 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	transition: 1s;
}
header a:hover {
	color:purple;
}
h1 a{
	font-size: 35px;
}

header nav {
	float:right;
	margin-top: 10px;
}

nav a {
	font-size: 16px;
}

header li {
	float: right;
	display: inline;
	padding: 0 20px 0 20px;
}



p{
	font-size: 20px;
}

nav {
	float:left;
}

nav a {
	padding: 10px;
}



#login{
	width: 150px;
	background-color: #5d5e60;
	float: right;
	display: flex;
	flex-direction: column;
	padding: 40px;
}

button{

	margin: 7px;
	transition: 1s ;

}
button:hover {
	cursor: pointer;
	background-color: #b3b5b7;
}

input[type=submit]{

	margin: 7px;
	transition: 1s ;

}
input[type=submit]:hover {
	cursor: pointer;
	background-color: #b3b5b7;
}

#button_register{
	margin-top: 10px;
}

.products {
	margin-top: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background: lightgreen;
    padding: 1em;

}

 #items {
    margin: 20px;      
}



footer{
	height: 150px;
	background-color: black;
	color:white;
	text-align: center;
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
}

#map {
  margin:20px;
  float: left;
}

#registrace {
  text-align: center;
  margin: 20px;
}

#registrace p {
  margin: 0px;
}

#menu {
  float: right;
}

#nakup {
  margin: 20px;
}

#potvrzeni {
  margin: 20px;
}